* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 31px;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #333;
}

.section-link {
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    display: block;
}

.section-link:hover {
    background-color: #f4f4f4;
    color: #333;
}

#sobre, #formacao, #portfolio, #contato {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 5px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form label, form button {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#mensagem {
    height: 150px;
}

form button {
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.projetos {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}